// Normally mainpage styles
.section
	&_top
		background-repeat: no-repeat
		background-position: 50% 50%
		background-size: cover
	
.main-logo
	max-width: 800px
	margin: 0 auto
	padding: 165px 0 195px
	&__inner
		display: flex
		flex-direction: row
		justify-content: space-between
		align-items: center
	span
		font-size: 35px
		color: #000
		+mb
		text-transform: uppercase
	img
		width: 240px

.reg-info
	position: absolute
	left: 0
	right: 0
	bottom: 0
	text-align: center

.messengers
	margin-bottom: 40px
	a
		display: inline-block
		padding: 0 10px
		color: #fff
		transition: opacity 0.3s
		&:hover
			opacity: 0.6
 
.icon-viber,
.icon-whatsapp,
.icon-telegram
	font-size: 45px
	text-shadow: 3px 3px 2px rgba(#000, 0.4)

.icon-mail
	font-size: 40px
	text-shadow: 3px 3px 2px rgba(#000, 0.4)

.sign-up
	height: 100px
	padding-top: 35px
	background: rgba(#000, 0.5)
	color: #fff
	text-align: center
	.upper-text
		font-size: 24px

.upper-text
	text-transform: uppercase