<header class="header">
	<div class="row">
		<div class="logo">
			<a href="">ZEUS</a>
		</div>
		<nav class="nav">
			<ul class="nav__list">
				<li class="nav__item"><a class="nav__link js-nav-link" href="#about">О технологии</a></li>
				<li class="nav__item"><a class="nav__link js-nav-link" href="#team">Команда</a></li>
				<li class="nav__item"><a class="nav__link js-nav-link" href="#road_map">Дорожная карта</a></li>
				<li class="nav__item"><a class="nav__link js-nav-link" href="#propositions">Инвесторам</a></li>
				<li class="nav__item"><a class="nav__link js-nav-link" href="#zeus_tockens">ZEUS token</a></li>
			</ul>
		</nav>
	</div>
</header>