<header class="header">
	<div class="row">
		<div class="logo">
			<a href="">ZEUS</a>
		</div>
		<nav class="nav">
			<ul class="nav__list">
				<li class="nav__item"><a class="nav__link" href="">О технологии</a></li>
				<li class="nav__item"><a class="nav__link" href="">Команда</a></li>
				<li class="nav__item"><a class="nav__link" href="">Дорожная карта</a></li>
				<li class="nav__item"><a class="nav__link" href="">Инвесторам</a></li>
				<li class="nav__item"><a class="nav__link" href="">ZEUS token</a></li>
			</ul>
		</nav>
	</div>
</header>