<section class="section" id="zeus_tockens" style="background-color: #f7f7f7; ">
	<div class="row row_center">
		<h2 class="title-h2">ПРЕДЛОЖЕНИЕ ДЛЯ ИНВЕСТОРОВ</h2>

		<div class="text text_mg_top">Всего будет выпущено 58 000 тыс. ZEUS Tokens, которые распределены следующим образом: </div>

		<img class="simple-img" src="img/diagram.png" alt="">

		<h4 class="title-h4 title-h4_upper">Количество токенов для инвесторов будет реализовано так:</h4>

		<table class="table-indicators table-indicators_wide">
			<tr>
				<td></td>
				<td>PRE ICO</td>
				<td class="right-align">500 тыс. ZEUS Tokens</td>
				<td class="right-align">0.50€ за 1 ZEUS Token</td>
			</tr>
			<tr>
				<td class="right-align">1-7</td>
				<td>день ICO</td>
				<td class="right-align">5 000 тыс. ZEUS Tokens</td>
				<td class="right-align">0.70€ за 1 ZEUS Token</td>
			</tr>
			<tr>
				<td class="right-align">8-14</td>
				<td>день ICO</td>
				<td class="right-align">10 000 тыс. ZEUS Tokens</td>
				<td class="right-align">0.80€ за 1 ZEUS Token</td>
			</tr>
			<tr>
				<td class="right-align">15-22</td>
				<td>день ICO</td>
				<td class="right-align">15 000 тыс. ZEUS Tokens</td>
				<td class="right-align">0.85€ за 1 ZEUS Token</td>
			</tr>
			<tr>
				<td class="right-align">23-29</td>
				<td>день ICO</td>
				<td class="right-align">19 300 тыс. ZEUS Tokens</td>
				<td class="right-align">0.90€ за 1 ZEUS Token</td>
			</tr>
			<tr>
				<td class="cell-bold" colspan="3">
					<div class="cell-bold-border">
						<span class="left-align">Всего</span>
						<span class="float-right">49 800 тыс. ZEUS Tokens</span>
					</div>
				</td>
				<td></td>
				<td></td>
			</tr>
		</table>

		<div class="text">Выкуп токенов осуществляется ежеквартально из расчета 5 000 тыс. ZEUS Tokens в квартал,<br>12 выплат в течение 12 месяцев по базовой стоимости 1€/1ZT, которая рассчитана исходя из курса <br> до 4000 € \ BTC, если курс станет выше, то токены будут выкупаться дороже: </div>

		<img class="simple-img simple-img_no_mg w800" src="img/graphic.svg" alt="">

	</div>
</section>