<section class="section section_no_pad section_main" style="background-image: url(img/main-bg.png);" >
	//=include header.html  
		
	<div class="row">
		<div class="main-logo">
			<div class="main-logo__inner">
				<span>Первый в мире</span>
				<img src="img/logo_big.png" alt="">
				<span>ЭКОмайнинг</span>
			</div>
		</div>

		<div class="reg-info">
			<div class="messengers">
				<a href="https://www.facebook.com/zeusminingofficial/"><i class="icon-facebook"></i></a>
				<a href="https://www.instagram.com/zeus_official_ecomining/"><i class="icon-in"></i></a>
				<a href="https://twitter.com/info_zeusteam"><i class="icon-tw"></i></a>
				<a href="https://t.me/joinchat/Cg9KDwhfwYZgztRVemWnwQ"><i class="icon-telegram"></i></a>
				<a href="https://zeus-official.slack.com"><i class="icon-slack"></i></a>
				<a href="info@zeus-token.io"><i class="icon-mail"></i></a>
			</div>
			
		</div>
	</div>	
	<div class="sign-up">
		<div class="row">
			<div class="btn-wrap btn-wrap_abs">
				<button class="btn btn_border btn_green js-join-btn">Узнать как…</button>
			</div>
			
			<div class="sign-up__info">
				<p class="upper-text">Pre-ICO стартует скоро!</p>
				<p>Успей зарегистрироваться и приобрести токен по специальной стоимости!</p>
			</div>
		</div>
	</div>
</section>
 