<section class="section" id="team">
	<div class="row ">
		<h2 class="title-h2 title-h2_green">Кто в нашей команде:</h2>
		
		<div class="members">
			<div class="member__col">
				<div class="member">
					<div class="member__photo member__photo_mod">
						<img src="img/workers/mem1.jpg" alt="">
					</div>
					<div class="member__name">Болеслав Войцеховский</div>
					<div class="member__position">Руководитель направления майнинга криптовалют</div>

					<div class="member__overlay">
						<div class="member__bottom">
							<div class="member__info">Начал работу с криптовалютами и блокчейном в 2015 году. Организовал производство и продажу майнингового оборудования, работу крупного Дата-центра для майнинга криптовалют на территории Польши. До этого работал техническим экспертом по внедрению и поддержке баз данных на больших производственных площадках.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/workers/mem2.jpg" alt="">
					</div>
					<div class="member__name">Александр Пилипенко</div>
					<div class="member__position">СЕО</div>

					<div class="member__overlay">
						<div class="member__bottom">
							<div class="member__info">С 2003 года принимает участие в разработке и реализации проектов тяжёлой промышленности, утилизации отходов и энергетики.  В 2007 году  успешно создал и управляет компанией в реальном секторе экономики, которая имеет высокие позиции на рынке энергетических ресурсов Украины и стран ЕС.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/workers/mem3.png" alt="">
					</div>
					<div class="member__name">Ирина Прохорова</div>
					<div class="member__position">CFO</div>

					<div class="member__overlay">
						<div class="member__bottom">
							<div class="member__info">Опыт работы в области финансов более 12 лет. Специалист  по осуществлению финансовой деятельности предприятия, направленная на обеспечение финансовыми ресурсами, формирование и распределение доходов/расходов. Успешный  опыт  в области контроля за выполнением финансовых показателей, работа по привлечению заемных средств, изучение рынка кредитных ресурсов, ведение оперативного и управленческого учета.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="members members_2_col">
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/workers/mem4.png" alt="">
					</div>
					<div class="member__name">Алексей Карасёв</div>
					<div class="member__position">СTО <br>Технический директор</div>

					<div class="member__overlay">
						<div class="member__bottom">
							<div class="member__info">С 2006 г. занимается  инсталляцией и управлением мусороперерабатывающих заводов на территории.</div>
						</div>
					</div>
				</div>
			</div>
			<div class="member__col">
				<div class="member">
					<div class="member__photo">
						<img src="img/workers/mem5.png" alt="">
					</div>
					<div class="member__name">Сергей Баев</div>
					<div class="member__position">Escrow</div>

					<div class="member__overlay">
						<div class="member__bottom">
							<div class="member__info">Имеет большой опыт в предпродажной подготовке компаний и подготовке компаний к выпуску облигаций, партнёр компании корпоративного консалтинга. Имеет богатый опыт привлечения инвестиций и дальнейшей работы с инвесторами.</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>