<section class="section" id="zeus_tockens" style="background-color: #f7f7f7; ">
	<div class="row row_center">
		<h2 class="title-h2">ПРЕДЛОЖЕНИЕ ДЛЯ ИНВЕСТОРОВ</h2>

		<div class="text text_mg_bg">Всего будет выпущено 58 000 тыс. ZEUS Tokens, которые распределены следующим образом: </div>

		<div class="params">
			<ul class="circle-items circle-items_4">
				<li class="circle-item">
					<div class="circle-item__value circle-item__value_sbig">15%</div>
					<div class="circle-item__text circle-item__text_sm">от проданных токенов будут распределены между командой</div>
				</li>
				<li class="circle-item">
					<div class="circle-item__value circle-item__value_sbig">2%</div>
					<div class="circle-item__text circle-item__text_sm">от проданных токенов предназначены для <br> баунти программ</div>
				</li>
				<li class="circle-item">
					<div class="circle-item__value circle-item__value_mid">49.300.000 токенов</div>
					<div class="circle-item__text circle-item__text_sm">будет распределено среди инвесторов</div>
				</li>
				<li class="circle-item">
					<div class="circle-item__value circle-item__value_mid">1.000.000 токенов </div>
					<div class="circle-item__text circle-item__text_sm">предназначен для продажи на пре ICO</div>
				</li>
			</ul>
		</div>

		<h4 class="title-h4 title-h4_upper">Количество токенов для инвесторов будет реализовано так:</h4>

		<table class="table-indicators table-indicators_wide">
			<tr>
				<td></td>
				<td>PRE ICO</td>
				<td class="right-align">1 000 тыс. ZEUS Tokens</td>
				<td class="right-align">&nbsp;</td>
			</tr>
			<tr>
				<td class="right-align">1-7</td>
				<td>день ICO</td>
				<td class="right-align">5 000 тыс. ZEUS Tokens</td>
				<td class="right-align">0.70€ за 1 ZEUS Token</td>
			</tr>
			<tr>
				<td class="right-align">8-14</td>
				<td>день ICO</td>
				<td class="right-align">10 000 тыс. ZEUS Tokens</td>
				<td class="right-align">0.80€ за 1 ZEUS Token</td>
			</tr>
			<tr>
				<td class="right-align">15-22</td>
				<td>день ICO</td>
				<td class="right-align">15 000 тыс. ZEUS Tokens</td>
				<td class="right-align">0.85€ за 1 ZEUS Token</td>
			</tr>
			<tr>
				<td class="right-align">23-29</td>
				<td>день ICO</td>
				<td class="right-align">19 300 тыс. ZEUS Tokens</td>
				<td class="right-align">0.90€ за 1 ZEUS Token</td>
			</tr>
			<tr>
				<td class="cell-bold" colspan="3">
					<div class="cell-bold-border">
						<span class="left-align">Всего</span>
						<span class="float-right">50 300 тыс. ZEUS Tokens</span>
					</div>
				</td>
				<td></td>
				<td></td>
			</tr>
		</table>

		<div class="description">
			<div class="description__title">Токены, предназначенные для команды, будут распределены поэтапно следующим образом:</div>
			<ul class="description__list">
				<li>• 10% токенов при запуске завода в эксплуатацию.</li>
				<li>• 6% токенов ежеквартально после выкупа и утилизации токенов инвесторов.</li>
				<li>• После распределения токенов среди команды предоставляется возможность их продажи.</li>
				<li>• Все выкупленные компанией токены будут утилизированы, чтобы избежать негативного влияния на стоимость токенов на рынке.</li>
			</ul>
		</div>

		<div class="text">Выкуп токенов осуществляется ежемесячно из расчета 5 000 тыс. ZEUS Tokens в месяц,<br>12 выплат в течение 12 месяцев по базовой стоимости 1€/1ZT, которая рассчитана исходя из курса <br> до 4000 € \ BTC, если курс станет выше, то токены будут выкупаться дороже: </div>

		<img class="simple-img simple-img_no_mg w800" src="img/graphic.jpg" alt="">

	</div>
</section>