<section class="section section_video" id="section-video" style="background-image: url(img/poster.png);">
	<div class="section__top section__top_bg">
		<div class="row">
			<h2 class="title-h2 title-h2_white">Почему эта концепция реализуется</h2>
			<h3 class="title-h3 title-h3_white">В одной идее удалось совместить 5-ти летний опыт организации мусороперерабатывающих <br> производств и 2-х летний опыт постройки больших майнинговых ферм. </h3>
		</div>
	</div>
	<div class="row">
		<a href="#" id="play-video" data-video="b2yUMjnyKpA" class="video">
			<i class="icon-play"></i>
			<div id="player" class="home-player"></div>
		</a> 
	</div>
</section>