<section class="section" >
	<h2 class="title-h2">Генерируем криптовалюту на собственных мощностях </h2>
	
	<div class="section__part section__part_wide">
		<ul class="features features_blocks">
			<li class="feature feature_flex">
				<span class="feature__img feature_man" style="background-image: url(img/feature1.png);"></span>
				<span class="feature__text">1 человек <br> производит<br>300 кг<br>отходов в год</span>
			</li>
			<li class="feature feature_flex">
				<span class="feature__img feature_garbage" style="background-image: url(img/feature2.png);></span>
				<span class="feature__text">В ЕС ежегодно<br>образуется<br>200 млн. тонн<br>бытовых отходов</span>
			</li>
			<li class="feature feature_flex">
				<span class="feature__img feature_atom" style="background-image: url(img/feature3.png);></span>
				<span class="feature__text">Земля под<br>мусорной свалкой<br>токсична<br> 50-100 лет</span>
			</li>
		</ul>
	</div>

	<p class="text">Поэтому наша миссия – дать каждому желающему возможность не только помочь в решении проблемы утилизации мусора, но и выгодно инвестировать, делая мир чище. </p>
	
	<p class="text">Впервые в мире реализуется проект постройки перерабатывающего завода, который генерирует электроэнергию из отходов и использует её для майнинга – ZEUS EcoCryptoMining</p>

	<div class="params">
		<ul class="circle-items">
			<li class="circle-item">
				<div class="circle-item__text">Участвуете в <br> постройке </div>
				<div class="circle-item__value circle-item__value_big">70</div>
				<div class="circle-item__text">майнинговых <br> ферм </div>
			</li>
			<li class="circle-item">
				<div class="circle-item__text circle-item__text_mt">Ежемесячно <br> добываете монеты <br> на сумму до </div>
				<div class="circle-item__value circle-item__value_mid">56 000$</div>
			</li>
			<li class="circle-item">
				<div class="circle-item__pic">
					<i class="icon-lock"></i>
				</div>
				<div class="circle-item__text">Полностью <br> контролируете <br> ваши <br> инвестиции</div>
			</li>
			<li class="circle-item">
				<div class="circle-item__text">Получаете до </div>
				<div class="circle-item__value circle-item__value_big">12<sub>%</sub></div>
				<div class="circle-item__text">от вложенных <br> средств в <br> месяц </div>
			</li>
		</ul>
	</div>
	
	<p class="text">Но ZEUS EcoCryptoMining – не только генерация криптовалюты, а и продажа тепла, удобрений и вторичного сырья. Это устраняет риски, которые неизбежны при работе привычной майнинговой фермы. </p>

	<button class="join-btn join-btn_mb-mid join-btn_bl js-join-btn">Узнайте подробности</button>
</section>